<header class="bg-{{ site.data.skin.header.bg | default: 'gray-4' }}">
    <nav class="container navbar navbar-expand-lg">
        {% if site.mainurl %}
        <a href="{{ site.mainurl }}">
        {% endif %}
            <div class="navbar-brand nav-link active align-middle mr-0 ml-1 overflow-hidden; display: table;">
                {% if site.logoname %} {% assign logoalt = site.logoname %} {% else %} {% assign logoalt = site.title %}{% endif %}
                {% if site.logoimg != '' %}
                <img src="{{ site.logoimg | prepend: '/assets/images/' | prepend: site.baseurl }}" alt="{{ logoalt }}" />
                {% else %}
                {{ logoalt }}
                {% endif %}
            </div>
        {% if site.mainurl %}
        </a>
        {% endif %}
        <div class="navbar-toggler-container" style="margin-left: auto;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <div class="navbar-nav" style="margin-left: auto; margin-right: 0;">
                {% assign links = site.pages | sort: 'navorder' %}
                {% for link in links %}
                {% if link.navorder %}
                {% assign href = link.url | prepend: site.url %}
                {% if page.title == link.title %}
                <a class="nav-link active" aria-current="page" href="{{ href }}" style="font-weight: bold;">
                    {% else %}
                    <a class="nav-link" href="{{ href }}">
                        {% endif %}
                        {{ link.title }}
                    </a>
                    {% endif %}
                    {% endfor %}
            </div>
        </div>
    </nav>
</header>