---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<style>
    ul li span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
</style>

<main class="my-4">
    <div class="container">
        <center>
            <h1 class="display-5">{{ title }}</h1>
            {{ content }}
        </center>
        {% if site.data.contributors %}
        <hr class="my-4">
        {% assign groups = site.data.contributors.groups %}
        {% for group in groups %}
        {% if group.title %}
        <center>
            <h4 class="fw-normal">{{ group.title }}</h4>
        </center>
        {% endif %}
        {% if group.columns %}
        {% assign extra = ' id="roster"' %}
        {% else %}
        {% assign extra = '' %}
        {% endif %}
        <div>
            <center>
                <ul class="list-unstyled"
                    style="display: flex; flex-wrap: wrap; justify-content: center; padding: 0; text-align: center; width: 70%">
                    {% assign members = group.members | sort_natural: 'surname' %}
                    {% for member in members %}
                    <li {{ extra }} class="fw-light" style="text-align: center;padding-bottom: 25px;">
                        {% if member.img %}<img src="{{ member.img }}" style="max-height: 100px;"></br>{% endif %}
                        {% if member.site %}<a href="{{ member.site }}" target="_blank">{% endif %}
                            {{ member.name | append: ' ' | append: member.surname }}
                            {% if member.site %}</a>{% endif %}
                        {% if member.affiliation %}<small><small><small></br>{{ member.affiliation
                                    }}</small></small></small>{% endif %}
                        {% if member.bio %}<small></br>{{ member.bio }}</small>{% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </center>
        </div>
        </br>
        {% endfor %}
        {% endif %}
    </div>
</main>

{% include footer.html %}