---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<style>
    ul li span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
</style>

<main class="my-4">
    <div class="container">
        <center>
            <h1 class="display-5">{{ title }}</h1>
            {{ content }}
        </center>
        {% if site.data.contributors %}
        <hr class="my-4">
        {% assign groups = site.data.contributors.groups %}
        {% for group in groups %}
        {% if group.title %}
        <center>
            <h4 class="fw-normal">{{ group.title }}</h4>
        </center>
        {% endif %}
        {% if group.columns %}
        {% assign div = ' id="roster"' %}
        {% else %}
        {% assign div = '' %}
        {% endif %}
        <div {{ div }}>
            <ul class="list-unstyled">
                {% assign members = group.members | sort_natural: 'surname' %}
                {% for member in members %}
                <li class="fw-light" style="text-align: center; display: table; margin: 2px auto 6px auto;">
                    {% if member.site %}<a href="{{ member.site }}" target="_blank">{% endif %}
                    {{ member.name | append: ' ' | append: member.surname }}
                    {% if member.site %}</a>{% endif %}
                    {% if member.affiliation %}<small><small><small></br>{{ member.affiliation }}</small></small></small>{% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        </br>
        {% endfor %}
        {% endif %}
    </div>
</main>

{% include footer.html %}